/*// app/styles/app.scss*/

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*body {*/
  /*padding-top: 50px;*/
 /* $main-color: gold;

  h2 {
    color: $main-color;
  }*/
/*}*/


/*
 * Global add-ons
 */

/*.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}*/

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*.navbar-fixed-top {
  border: 0;
}*/

/*
 * Sidebar
 */

/* Hide for mobile, show later */
/*.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}*/

/* Sidebar navigation */
/*.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar {
  > li {
    > a {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  > .active {
    > a, > a:hover, > a:focus {
      color: #fff;
      background-color: #428bca;
    }
  }

}
*/
/*
 * Main content
 */

/*.main {
  padding: 20px;

  .page-header {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}*/

/*
.new-campaign-date-range {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.display-linebreak {
  white-space: pre-wrap;
}

.i18n-flag {
  font-size: 16px !important;
  color: #ccc !important;
}

.sidebar-logo {
  min-height: 40px;
}

.help-block {
  color: #d05454 !important;
}

.scale-legend {
  margin: 20px auto;
  .scale-label {
    margin: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    padding: 6px;
  }
}

.toggle-switch-component {
  // margin-top: 5px;
  margin-bottom: 10px;
}

.webui-popover {
  z-index: 99999;
}*/

// ==========================================================================
// Theme
// ==========================================================================
@import 'theme/custom';
/*
// ==========================================================================
// Added
// ==========================================================================


// ==========================================================================
// Utilities
// ==========================================================================
@import 'utilities/config';
@import 'utilities/functions';
@import 'utilities/mixins';

// ==========================================================================
// Base
// ==========================================================================
@import 'base/global';

// ==========================================================================
// Layout
// ==========================================================================
@import 'layout/container';
@import 'layout/content';
@import 'layout/sidebar';
@import 'layout/login';
@import 'layout/header';
@import 'layout/404';
@import 'layout/overview';

// ==========================================================================
// Modules
// ==========================================================================
@import 'modules/navbar';
@import 'modules/breadcrumb';
@import 'modules/buttons';
@import 'modules/tables';
@import 'modules/wells';
@import 'modules/pagination';
@import 'modules/portlets';
@import 'modules/checkbox';
@import 'modules/forms';
@import 'modules/tabs';
@import 'modules/dropdown';
@import 'modules/box';
@import 'modules/extends';
@import 'modules/modal';

// ==========================================================================
// Components
// ==========================================================================
@import 'components/filter-section';
@import 'components/popover-box';
@import 'components/statistic-widget';
@import 'components/loading-indicator';
@import 'components/toggle-switch';
@import 'components/uploadcare-single-widget';
@import 'components/form-wizard';
@import 'components/survey-formwizard';
@import 'components/scratchcard-formwizard';
@import 'components/doughnut-chart';
@import 'components/lookup-code-modal';
@import 'components/page-header';
@import 'components/text-with-tooltip';
@import 'components/ember-power-select';
@import 'components/scc-condition-form';*/

/*Vishu : It is working but effecting internal side bar template.*/
body .login-page {
    background-color: white;
}

#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

