.comp-form-wizard {
  .campaign-progress-step-1 {
    width: 25%;
  }
  .campaign-progress-step-2 {
    width: 50%;
  }
  .campaign-progress-step-3 {
    width: 75%;
  }
  .campaign-progress-step-4 {
    width: 100%;
  }
}
