.comp-scratchcard-formwizard {
  .scratchcard-progress-step-1 {
    width: 25%;
  }
  .scratchcard-progress-step-2 {
    width: 50%;
  }
  .scratchcard-progress-step-3 {
    width: 75%;
  }
  .scratchcard-progress-step-4 {
    width: 100%;
  }
}
