// Breadcrumb
.breadcrumb {
  margin: 15px 0 10px;
  padding: 0;

  > li + li:before {
    display: inline-block;
    padding: 0 3px;
    content: ">";
    color: palette(grey, lighter);
  }

  li {
    &:last-child,
    &:last-child a {
      font-size: 12px;
      color: palette(grey, light);

    }

    a {
      font-size: 12px;
      font-weight: $font-weight--medium;
      text-decoration: none;
      letter-spacing: $letter-space*2;
      color: palette(turquoise, dark);
      padding-bottom: 2px;

      &:hover {
        border-bottom: 1px solid palette(turquoise, light);
      }
    }
  }
}
