// _checkbox.scss
/*
.campaign-radio-btn {
  input[type=radio] {
    display: none;
  }

  input[type=radio] + label {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    background: #e7e7e7;
    border: #ccc;
    color: $black;
    text-align: center;
    letter-spacing: $letter-space;

    &:hover {
      border: 1px solid $turquoise;
      background: palette(turquoise, lightest);
    }
  }

  input[type=radio]:checked + label { 
    color: $white;
    background-image: none;
    background-color: $turquoise;
    border: 1px solid $turquoise;
  }

  > label {
    width: 32%;
    margin-right: 0 !important;
    // margin:0 3% 0 0;
  }
}
*/