// _container.scss
body.page-md {
  background: #f6f8f8;
}

.page-container {
  width: 100%;
  padding: 0;
}

.page-content-wrapper {
  .page-content {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  .page-content-wrapper {
    .page-content {
      padding-top: 0px !important;
    }
  }
}
